# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: Philip McGrath <philip@philipmcgrath.com>

# Solid State:
/build
/result
/.prettierignore

# Racket:
compiled/
/doc/

# Generic:
*~
\#*
.\#*
.DS_Store
